:root {
  --background-color: #1F1E1E;
  --text-color: #FDFDFE;
  --peachy-orange: #F25F4C;
  --gold: #FDDC5C;
  --light-blue: #BDF6FE;
}

body {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Cantarell, Ubuntu, Helvetica, Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
}

.gold {
  color: var(--gold);
}

.blue {
  color: var(--light-blue);
}

header {
  padding-top: 1rem;
}

h1 {
  font-weight: 300;
  margin: 0;
}

#subtitle {
  font-size: 1rem;
  font-weight: 200;
  margin: 0;
}

a {
  color: var(--text-color);
  text-decoration-color: var(--peachy-orange);
}

h2 {
  margin-top: 5rem;
  margin-bottom: 0.5rem;
  font-weight: 300;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#logo {
  position: fixed;
  width: 3.25rem;
  top: 0;
  right: 0;
  padding-top: 1.5rem;
  padding-right: 1.5rem;
}

#bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#email {
  font-size: 0.75rem;
  font-weight: 200;
}
